replicaCount: 1

port: 80

podAnnotations: {}
imagePullSecrets: {}
image:
  repository: zooz/predator
  tag: 1.4
  pullPolicy: Always

nameOverride: ""
fullnameOverride: ""

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false
  annotations: {}
  path: /
  hosts:
    - predator.local
  tls: []

persistence:
  enabled: false
  # storageClassName: default
  accessModes:
  - ReadWriteOnce
  size: 2Gi
  # annotations: {}
  # existingClaim:

nodeSelector: {}

tolerations: []

affinity: {}

database:
  type: SQLITE
  name:
  address:
  username:
  password:
  cassandra:
    replicationFactor: 1
    keySpaceStrategy: SimpleStrategy
    localDataCenter:
  sqlite:
    storage: /db/predator

internalAddress:
kubernetesUrl: https://kubernetes.default.svc
jobPlatform: KUBERNETES
apiVersion: v1
